<footer>
    <div class="footer-container">
        <div class="footer-nav">
            <ul>
                <li><a href="/">Articles</a></li>
                <li><a href="/issues">Issues</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/masthead">Masthead</a></li>
                <li><a href="">Contact</a></li> <!-- ADD CONTACT PAGE LATER!! -->
            </ul>
        </div>
        <div class="social-icons">
            <a href="{{ getSecrets.insta_link }}" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Copyright &copy;2024; Designed by <a href="https://github.com/Kisakot8" target="_blank"><span class="designer">Maxim Telegin</span></a></p>
    </div>
</footer>
