<nav id="navbar">
    <div class="navbar-container">
        <nav id="navbar-menu">
            <a class="navbar-links current-section" id="article-card-link" href="javascript:showByTag('article-card')"> Articles </a>
            <a class="navbar-links" id="entertainment-link" href="javascript:showByTag('entertainment')"> Entertainment </a>
            <a class="navbar-links" id="politics-link" href="javascript:showByTag('politics')"> Politics </a>
            <a class="navbar-links" id="philosophy-link" href="javascript:showByTag('philosophy')"> Philosophy </a>
            <a class="navbar-links" id="geography-link" href="javascript:showByTag('geography')"> Geography </a>
            <a class="navbar-links" id="history-link" href="javascript:showByTag('history')"> History </a>
            <a class="navbar-links" id="about-link"> About Us </a>
        </nav>
    </div>
</nav>