#about-container {
    overflow: hidden;
}

#leaders-container {
    display: flex;
    flex-direction: column;
}


/* #region title */

#title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

#title-container h1 {
    font-weight: 400;
    font-size: 3.5rem;
    width: fit-content;
    position: relative;
}

#title-container h1::before {
    height: 4px;
    width: 100%;
    background-color: #000;
    content: '';
    position: absolute;
    transform-origin: left;
    left: 0;
    bottom: -2px;
    transform: scaleX(0);
    transition: all 1s ease;
}

#title-container span {
    font-weight: 700;
    background: linear-gradient(to left, #00000000 50%, yellow 50%) right;
    background-size: 200% 100%;
    transition: all .7s ease;
    transition-delay: .1s;
}

#title-container:hover h1::before {
    transform: scaleX(1);
    transform-origin: right;
}

#title-container:hover span {
    background-position: left;
}

/* #endregion */


/* #region leaders */

.about-leaders {
    --primary: var(--blue);
    --secondary: var(--blue-trans);
    padding: 12px;
    background-color: #001722;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leaders-visual h2 {
    text-align: center;
    margin-top: 12px;
    font-style: italic;
    color: #fff;
}

.about-leaders:nth-of-type(odd) {
    --primary: var(--red);
    --secondary: var(--red-trans);
}

.about-leaders:nth-of-type(odd) {
    flex-direction: row-reverse;
}

.leaders-visual {
    width: 100%;
    position: relative;
    padding: 8px;
}

.about-leaders li {
    box-shadow: 0 0 var(--s1) var(--s2) #777;
    transition: --s1 .4s ease-in-out, --s2 .4s ease-in-out, background-color .4s ease-in-out;
}

.about-leaders li:hover {
    --s1: 40px;
    --s2: 4px;
}

.leaders-visual .leaders-img-container {
    border-radius: 50%;
    width: 100%;
    margin-left: 8px;
    overflow: hidden;
}

.leaders-visual img {
    transition: 1.2s all;
}

.leaders-img-container:hover img {
    transform: scale(1.12) translateY( calc(0.05 * 100%) );
}

@property --p1 {
    syntax: '<percentage>';
    initial-value: 10%;
    inherits: false;
}

@property --p2 {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: false;
}

@property --s1 {
    syntax: '<length>';
    initial-value: 0px;
    inherits: false;
}

@property --s2 {
    syntax: '<length>';
    initial-value: 0px;
    inherits: false;
}

.leaders-visual::before {
    padding: 8px;
    aspect-ratio: 1/1;
    width: 100%;
    background: conic-gradient(var(--primary) var(--p1), var(--secondary) var(--p2));
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: --p1 .8s ease-in-out, --p2 .8s ease-in-out;
}

.leaders-visual:hover::before {
    --p1: 100%;
    --p2: 100%;
}

.leader-name {
    font-weight: 700;
}

/* #endregion */


/* #region rounded-list */

.rounded-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 32px;
    counter-reset: li;
    list-style: none;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rounded-list li {
    margin: 1rem;
    font-size: 1.2rem;
    position: relative;
    display: block;
    padding: 1rem 1rem 1rem 2rem;
    background: #ddd;
    color: #444;
    border-radius: .3rem;
}

.rounded-list li:hover {
    background-color: #eee;
}

.rounded-list li::before {
    content: '';
    position: absolute;
    left: -1.3rem;
    top: 50%;
    margin-top: -1.3rem;
    background-color: #fff;
    height: 3rem;
    aspect-ratio: 1/1;
    line-height: 2.5rem;
    border-radius: 2rem;
}

.rounded-list li::after {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3rem;
    top: 50%;
    margin-top: -1.3rem;
    background-color: var(--secondary);
    height: 3rem;
    aspect-ratio: 1/1;
    line-height: 2.5rem;
    border: .3rem solid #fff;
    text-align: center;
    font-weight: 700;
    border-radius: 2rem;
    transition: .3s all ease-out;
}

.rounded-list li:hover::after {
    transform: rotate(360deg);
}

/* #endregion */


/* #region rectangle-list */

.rectangle-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    counter-reset: li;
    list-style: none;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.rectangle-list li {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-out;
    width: fit-content;
    --primary: var(--red);
}

.rectangle-list li:nth-of-type(odd) {
    --primary: var(--blue);
}

.rectangle-list li:hover {
    background: #eee;
    color: #444;
    font-weight: 600;
}

.rectangle-list li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: var(--primary);
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    color: #fff;
}

.rectangle-list li:after {
    position: absolute;
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle-list li:hover:after {
    left: -.5em;
    border-left-color: var(--primary);
}

/* #endregion */


/* #region authors */

#authors-container {
    display: flex;
    flex-direction: column;
    padding: .4rem;
    background-color: #FF6F00;
}

#authors-container h2 {
    text-align: center;
    font-size: 2.4rem;
    color: #fff;
}

.about-author {
    margin: 6px 0;
    padding: 4px;
}

.author-name {
    position: relative;
    font-weight: 700;
}

/* #endregion */


/* #region spacers */

.spacer {
    width: 100%;
    aspect-ratio: 900/100;
}

.spacer img {
    width: 100%;
    height: 100%;
}

/* #endregion */
