footer {
    background-color: #fff;
    width: 80%;
    margin: 16px 10%;
    border-top: 2px double #000;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px;
}

/* #region social-icons */

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    border-left: 1px solid #bbb;
}

.social-icons a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    line-height: 1;
}

.social-icons a i {
    font-size: 3.5vw;
    color: #000;
}

.social-icons a:hover i {
    color: var(--red);
}

/* #endregion */


/* #region footer-nav */

.footer-nav {
    margin: 30px 0;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul li a {
    color: #000;
    margin: 20px;
    text-decoration: none;
    font-size: 1.6vw;
}

.footer-nav ul li a:hover {
    color: var(--red);
}

/* #endregion */


/* #region copyright */

.footer-copyright {
    background-color: #fff;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.25vw;
}

.footer-copyright p {
    color: #000
}

.footer-copyright p a {
    text-decoration: none;
    color: inherit;
}

.designer {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 1px;
    cursor: pointer;
}

.designer:hover {
    color: var(--red);
}

/* #endregion */


/* #region responsiveness */

@media (max-width: 768px) {
    .footer-nav ul {
        flex-wrap: wrap;
    }

    .footer-nav ul li {
        text-align: center;
        margin: 10px ;
        flex: 1 0 26%;
    }

    .social-icons a i {
        font-size: 3em;
    }
}

/* #endregion */
