/* #region title */

header {
    top: 0;
    z-index: 9;
}

.title-container {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    padding: 1rem 0 4px;
    background-color: #eee;
}

#title {
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 7vh;
    color: var(--blue);
    text-transform: uppercase;
    text-decoration: none;
}

/* #endregion */


/* #region navbar */

#navbar {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.9vw;
    z-index: 10;
    height: fit-content;
}

.navbar-container {
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    width: 100%;
    padding: 0 6%;
    background-color: #eee;
    top: 0;
    position: relative;
    height: fit-content;
}

.navbar-container::after {
    height: max(2px, 0.16vw);
    width: 100%;
    background-color: var(--blue);
    content: "";
    bottom: 0;
    position: absolute;
    z-index: 2;
}

#navbar-menu {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

#navbar-menu a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    transition: all .3s ease;
    cursor: pointer;
    padding: 12px 0;
    flex: 1 0 auto;
}

.navbar-links {
    color: var(--blue);
    text-transform: capitalize;
    margin-bottom: max(2px, 0.16vw);
    z-index: 11;
}

.navbar-links .current-section::before {
    transition: .3s all;
}

.navbar-links::after {
    content: '';
    position: absolute;
    left: 0;
    width: max(5px, 0.3vw);
    height: 50%;
    background-color: var(--red);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s;
}

.navbar-links:hover::after {
    transform-origin: left;
    transform: scaleX(1);
    background-color: var(--red);
    transition: background-color .3s ease;
    transition: transform .3s;
}

.navbar-links::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: max(5px, 0.3vw);
    background-color: var(--red);
    transform: scaleY(0);
    transition: .3s all;
    transform-origin: bottom;
}

.navbar-links:hover::before {
    transform: scaleY(1);
}

.navbar-links:hover {
    color: var(--red);
    transition: all .3s ease;
    background-color: var(--blue-background);
    font-size: 1.9vw;
}

.current-section {
    color: var(--red) !important;
    font-size: 1.9vw !important;
}

.current-section::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: max(5px, 0.3vw);
    background-color: var(--red);
    transform: scaleY(1);
    transition: .3s all;
}

.current-section::after {
    background-color: var(--red) !important;
    transform: scaleX(1) !important;
}

/* #endregion */


/* #region responsiveness */

@media only screen and (min-width: 1200px) {
    .navbar-container {
        padding: 0 20px;
    }

    #about-link {
        display: flex !important;
    }

    #navbar {
        font-size: 1.56vw;
    }

    .navbar-links:hover, .current-section {
        font-size: 1.69vw !important;
    }
}


@media only screen and (max-width: 992px) {
    .navbar-container {
        padding: 0 12px;
    }
}

@media only screen and (max-width: 890px) {
    #issues-link {
        display: none !important;
    }

    .navbar-container {
        padding: 0 4px;
    }
}


.mobile-icon {
    position: absolute;
    font-size: 2rem;
    color: var(--blue);
    border: none;
    display: none;
}

.mobile-icon:hover {
    color: var(--red);
    cursor: pointer;
}

.noscroll {
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    header {
        position: sticky;
    }

    #title {
        font-size: 2.5rem;
    }

    #about-link {
        display: flex !important;
    }

    #issues-link {
        display: flex !important;
    }

    .title-container {
        border-bottom: 2px solid var(--blue);
    }

    .mobile-icon {
        display: flex !important;
        align-self: center;
        top: 30px;
        left: 1rem;
    }

    #mobile-search {
        right: 16px;
        left: unset;
        top: calc(inherit - 1px);
        text-decoration: none;
    }

    #mobile-close {
        z-index: 11;
    }

    #navbar {
        transition: .2s all;
        flex-direction: column;
        left: -100vw;
        top: 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 10;
        pointer-events: all;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #eee;
    }

    .navbar-container {
        position: absolute;
        top: 0;
    }

    #navbar-menu {
        display: flex;
        flex-direction: column;
        align-items: start;
        left: 4rem;
        top: 24px;
        position: absolute;
        flex-flow: column;
        padding-bottom: 2rem;
    }

    #navbar-menu a {
        flex: unset;
        font-size: 1.5rem;
        padding: 8px 12px;
        height: 48px;
    }

    #navbar-menu a:not(.current-section):hover {
        transform: translateX(24px);
    }

    .current-section {
        transform: translateX(24px);
        font-size: 1.6rem !important;
    }

    #search-link {
        padding: 8px 24px !important;
    }

    .navbar-container::after {
        display: none;
    }

    #navbar.active {
        left: 0;
    }
}


@media only screen and (max-width: 620px) {
    #title {
        font-size: 24px;
    }

    .mobile-icon {
        font-size: 175%;
        top: 18px;
        left: 24px;
    }

    #mobile-search {
        right: 24px;
        top: 17px;
    }

    #navbar-menu {
        justify-content: unset;
        top: 4rem;
        left: 1.5rem;
    }

    #navbar-menu a {
        flex: unset;
        height: 80px;
        font-size: 2rem;
    }

    .current-section {
        font-size: 2rem !important;
    }
}

@media only screen and (max-width: 428px) {
    #title {
        font-size: 1.4rem;
    }

    #navbar-menu {
        padding-bottom: 6rem;
    }

    .mobile-icon {
        top: 20px;
        left: 8px;
        font-size: 1.5rem;
    }

    #mobile-search {
        right: 8px;
        top: 19px;
    }

    #mobile-close {
        font-size: 3rem;
    }
}

/* #endregion */
