/* search-container contains the entire search.html */

#search-container {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

/* upper-search-container contains the search box and filter icon (when open) */

#upper-search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #region filter button */

#filter-button {
    width: 155px;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    margin-top: 16px;
    border: 2px solid #00000000;
    background-color: #eee;
    border-radius: 8px;
    cursor: pointer;
    color: #444;
    display: none;
    transition: border-radius .5s;
    transition: .2s all;
}

#filter-button:hover {
    border: 2px solid var(--blue-trans);
}

#filter-button:active {
    color: #eee;
    background-color: var(--blue);
    transition: .2s all;
}

#filter-button i {
    margin: 0 4% 0 8%;
    width: 8%;
}

#filter-button h4 {
    width: 80%;
}

/* #endregion */


/* #region search box */

#search-box {
    margin: auto;
    aspect-ratio: 736/64;
    width: max(57vw, 736px);
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: max(30px, 2.3vw);
    border: max(3px, 0.23vw) solid var(--blue);
    transition: .2s all;
}

#search-box:hover, #search-box:focus-within {
    box-shadow: 0 5px rgba(0, 0, 0, .2);
    border-color: var(--red);
}

#search-box:hover #search-bar-icon, #search-box:focus-within #search-bar-icon {
    color: var(--red);
}

#search-box input {
    outline: none;
    border: none;
    width: 100%;
    font-size: max(16px, 1.25vw);
}

#search-bar-icon {
    text-decoration: none;
    color: var(--blue);
    font-weight: 600;
    font-size: max(1.5rem, 1.88vw);
    padding: 2px;
    transition: .2s all;
}

#search-bar-button {
    border: none;
    background: none;
    cursor: pointer;
}

/* #endregion */


/* lower-search-container contains the filters and results */

#lower-search-container {
    margin-top: 32px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}


/* #region filters */

#filters-container {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
    background-color: #eee;
    padding: 0 16px 16px 16px;
    border-radius: 24px;
    height: fit-content;
    block-size: fit-content;
    width: max(22vw, 280px);
}

.checkbox-container {
    display: flex;
    position: relative;
    padding-left: 14px;
    margin-top: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: max(3px, 0.23vw);
    left: 0;
    height: max(16px, 1.25vw);
    aspect-ratio: 1/1;
    background-color: #eee;
    border: max(2px, 0.16vw) solid #999;
    border-radius: max(2px, 0.16vw);
}

.checkbox-container:hover input ~ .checkmark {
    background-color: #ddd;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: var(--blue);
    border: none;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: max(6px, 0.47vw);
    top: max(3px, 0.23vw);
    width: max(5px, 0.39vw);
    height: max(8px, 0.625vw);
    border: solid white;
    border-width: 0 max(2px, 0.16vw) max(2px, 0.16vw) 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.filter-header {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-title {
    font-size: max(1.5vw, 1.2rem);
    font-weight: 700;
    letter-spacing: .1rem;
    color: #444;
    margin-right: 4px;
}

.selector-all {
    display: inline;
    margin-top: 10px;
}

.input-label {
    margin-left: max(6px, 0.7vw);
    text-transform: capitalize;
    font-size: max(1.25vw, 1rem);
    color: #111;
}

/* #endregion */


/* #region results */

#results-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#default-text {
    position: absolute;
    left: 40%;
    top: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #999;
    font-size: 2rem;
    justify-self: center;
    font-weight: 400;
    width: 30%;
}

.cycle-container {
    display: flex;
    left: 100%;
}

.cycle-item {
    opacity: 0;
    position: absolute;
    top: -100%;
    font-weight: 700;
    width: 100%;
    cursor: default;
    text-transform: capitalize;
}

.cycle-item-appearing {
    opacity: 1;
    top: 0;
    transition: .3s all;
    cursor: text;
}

.cycle-item-disappearing {
    opacity: 0 !important;
    top: 100% !important;
    cursor: default !important;
}

#not-found {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40%;
    width: 30%;
    min-width: 280px;
    color: #444;
}

#not-found h4 {
    font-size: max(2rem, 2.5vw);
    text-align: center;
}

#not-found h4 i {
    font-size: max(3rem, 3.75vw);
    font-weight: 900;
}

#not-found p {
    text-align: center;
    font-weight: 400;
    margin-bottom: 12px;
    font-size: max(1rem, 1.25vw);
}

#not-found img {
    height: 50%;
    aspect-ratio: 9/10;
}

/* #endregion */


/* #region responsiveness */

@media only screen and (max-width: 768px) {
    #default-text {
        font-size: 1.5rem;
    }

    #filters-container {
        width: 180px;
    }

    .input-label {
        font-size: 1rem;
        margin-top: 1px;
    }

    .input-title {
        font-size: 1rem;
    }

    .selector-all {
        margin-top: 0;
        line-height: 1;
    }

    #search-box {
        width: 90%;
    }

    #filters-container {
        justify-content: space-evenly;
    }

    .filter-section {
        max-width: fit-content;
        justify-content: center;
        align-items: center;
    }
}


@media only screen and (max-width: 620px) {
    #filter-button {
        display: flex;
    }

    #filter-button.active {
        border-radius: 8px 8px 0 0;
    }

    #lower-search-container {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
    }

    #filters-container {
        flex-direction: row;
        width: 90%;
        height: fit-content;
        max-height: 0;
        overflow: hidden;
        transition: .5s all;
        padding: 0 4px;
        top: -1px;
        position: relative;
    }

    #filters-container.active {
        max-height: 1000px;
        transition: .5s all;
        padding-bottom: 16px;
    }

    .filter-section {
        flex: 1 0 26%;
        margin: 0 4px;
    }

    #results-container {
        position: relative;
        margin: 32px 0;
        align-items: center;
        justify-content: center;
        width: 100vw;
        flex-direction: column;
        min-height: 300px;
    }

    #default-text {
        left: calc(55.3% - 169px);
        width: 85%;
    }

    .cycle-container {
        width: 57%;
    }

    .cycle-item {
        height: fit-content;
        width: inherit;
    }

    #not-found {
        position: relative;
        left: 4px;
    }
}

@media only screen and (max-width: 428px) {
    #search-box {
        width: 95%;
    }

    #filters-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .filter-section {
        max-width: fit-content;
        flex: 1 0 40%;
    }

    #authors-filters {
        order: 99;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }

    #authors-filters > .filter-header {
        margin-left: 50%;
        margin-right: 50%;
    }

    #authors-filters > .checkbox-container {
        padding: 2px;
        flex: 1 0 50%;
    }

    #authors-filters > .checkbox-container > .input-label {
        margin-left: 18px;
    }

    #default-text {
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 100%;
        left: 0;
        font-size: 2rem;
    }

    .cycle-container {
        justify-content: center;
        width: 100%;
    }

    .cycle-item {
        top: 0;
        text-align: center;
        font-size: 2.2rem;
    }

    .cycle-item-appearing {
        top: 100%;
    }


    #results-container {
        margin: 16px 0;
    }
}

/* #endregion */
