---
layout: layouts/about.html
currentSection: about
eleventyComputed:
    title: "{{ getSecrets.name }}"
    description: "{{ getSecrets.name }} About Page"
---

<div id="about-container">

    <div class="spacer flipped">
        <img src="/assets/wave-brickred-white.svg" alt="A brick-red to white curve">
    </div>

    <div id="mission-container">
        <div id="mission-text-wrapper">
            <h1 id="mission-title">What is our mission?</h1>
            <pre id="mission-text">{{ getSecrets.mission_text }}</pre>
        </div>
        <img src="/assets/mission-img.webp" alt="A statue of a thinking man">
    </div>

    <div class="spacer">
        <img src="/assets/wave-brickred-white.svg" alt="A brick-red to white curve">
    </div>

    <div id="team-title">
        <h1>Meet our <span>team.</span></h1>
    </div>

    <div class="spacer">
        <img src="/assets/wave-white-dark.svg" alt="A white to black curve">
    </div>

    <div id="leaders-container">
        {% for leaderSection in getLeaders.result | selectattr("aboutDisplay") %}
            {% aboutHead leaderSection.role, leaderSection.members, leaderSection.imgUrl, leaderSection.order %}
        {% endfor %}
    </div>

    <div class="spacer">
        <img src="/assets/layered-wave-dark-orange.svg" alt="A black to orange layered curve">
    </div>

    <div id="authors-container">
        <h2>Our
            <span id="typing"></span>
        </h2>
        <ol class="rectangle-list">
            {% for author in getAuthors.result | selectattr("isAuthor") | sort(false, false, "name") %}
                {% aboutAuthor author.name, author.bio, getLeaders.result | selectattr("aboutDisplay") %}
            {% endfor %}
        </ol>
    </div>

    <div class="spacer">
        <img src="/assets/layered-wave-orange-white.svg" alt="An orange to white layered curve">
    </div>

</div>

<script src="/js/about.js"></script>
