---
pagination:
    data: getCards.result
    size: 1
    resolve: values
permalink: "articles/{{ pagination.items[0].slug | slugify }}/index.html"

layout: layouts/article.html
eleventyComputed:
    description: "{{ getSecrets.name }} article '{{ pagination.items[0].title }}' page"
    title: "{{ pagination.items[0].title }} | {{ getSecrets.name }}"
    insta_link: "{{ getSecrets.insta_link }}"
---
