---
pagination:
  data: getTags.result
  size: 1
  resolve: values
permalink: "tags/{{ pagination.items | slugify }}/index.html"

layout: layouts/home.html
eleventyComputed:
    currentSection: "{{ pagination.items | slugify }}"
    description: "{{ getSecrets.name }} {{ pagination.items | slugify }} page"
    title: "{{ getSecrets.name }}"
    insta_link: "{{ getSecrets.insta_link }}"
---

<div class="cards-container">
    {% for article in getCards.result %}
        {% if article.tags.includes( pagination.items | slugify ) %}
            {% card article.title, article.imageUrl, article.tags, article.author, article.slug %}
        {% endif %}
    {% endfor %}
</div>