---
pagination:
  data: getCards.result
  size: 1
  resolve: values
permalink: "articles/{{ pagination.items[0].slug | slugify }}/index.html"

layout: layouts/article.html
eleventyComputed:
    description: "Havenstraat Journal article '{{ pagination.items[0].title }}' page"
title: Havenstraat Journal
---
