---
pagination:
  data: getCards.result
  size: 1
  resolve: values
permalink: "articles/{{ pagination.items[0].slug | slugify }}/index.html"

layout: layouts/article.html
eleventyComputed:
    description: "Havenstraat Journal article '{{ pagination.items[0].title }}' page"
title: Havenstraat Journal
---

<div class="article-pdf-container">
    <iframe src="https://docs.google.com/gview?url={{ pagination.items[0].pdfUrl }}&embedded=true" frameborder="0" style="width: 100%; height: 100%;"></iframe>
</div>