---
pagination:
    data: getIssues.result
    size: 1
    resolve: values
permalink: "issues/{{ pagination.items[0].number }}/index.html"

layout: layouts/article.html
eleventyComputed:
    description: "{{ getSecrets.name }} issue number '{{ pagination.items[0].number }}'"
    title: "{{ pagination.items[0].title }} | {{ getSecrets.name }}"
    insta_link: "{{ getSecrets.insta_link }}"
---
